<html>
    <head>
        <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
        <script src="https://cdn.auth0.com/js/auth0/8.6.0/auth0.min.js"></script>

        <script>
        $(document).ready(function() {
            var auth = new auth0.WebAuth({
              domain: '{{auth0_domain}}',
              clientID: '{{auth0_client_id}}'
            });

            $('#btn-login').click(function(e) {
              e.preventDefault();
              auth.authorize({
                audience: '{{auth0_audience_api}}',
                scope: 'openid',
                responseType: 'code',
                redirectUri: '{{auth0_callback_url}}'
              }); 
            });

        });
        </script>

    </head>
    <body>
      <button id="btn-login">SignIn</button>
    </body>
</html>